
    <div class="about-main">
      <h2>後悔しない生き方とは</h2>
        <ul>
          <li>自分らしく生きる</li>
          <li>したいこと、目標を明確にする</li>
          <li>学んだことを行動にする</li>
          <li>健康に生きる</li>
        </ul>
    </div>
