<div class="main posts-index">
  <div class="container">
    <% @posts.each do |post| %>
      <div class="posts-index-item">
        <%= link_to post.title, post_path(post) %>
      </div>
    <% end %>
    <%= link_to "新規投稿", "/posts/new2", class: "new-post" %>
  </div>
</div>
